#box{
    border: 2px solid black;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}

#ball{
    width: 40px;
    height:39px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    margin-left: 2px;
    transition: all 2sec ease-in-out;
    margin-right: 2px;

}

body{

    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    margin:auto;
    
}

#innerdiv{
    margin-top: 100px ;
}